@import url(https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap);

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

:root {
    font-family: 'Maven Pro', sans-serif;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    background-image: url(./assets/design1_image1.jpg);
    background-size: cover;
    background-position: center;
    

}

h1 {
    padding-top: 0.4em;
    font-size: 5em;
   
   
}


.tittleBar {
    text-align: center;
    color: white;
    background-color: black;
    padding: 1%;
}



#logo {
    width: 10em;
    height: 10em ;
    position: absolute; 
    /* background-color: aliceblue; */
    right: 20%;
    top: 38%;
    flex-wrap: wrap;
    
}

main {
    display: flex;
}

nav {
    
    display: flex;
    width: 10%;

   
}

li {
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 1em;
}

section {
    display: flex;
    flex-direction: column;
}

article {
    display: block;
    padding: 1em;
}

#contact {
    display: inline-block;
    margin-top: 2em;
}


