@import url(https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap);

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    scroll-behavior: smooth;

}

:root {
    font-family: 'Maven Pro', sans-serif;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    background-image: url(./design1_image1.jpg);
    background-size: cover;
    background-position: center;
    

}

h1 {
    padding-top: 0.4rem;
    padding-bottom: 0.8rem;
    font-size: 5rem;
   
   
}

h2 {
    top: 0px;
    position: sticky;
}


.tittleBar {
    text-align: center;
    color: white;
    background-color: black;
    padding: 1%;
    
    
}



#logo {
    width: 10rem;
    height: 10rem ;
    /* position: absolute; 
    right: 20%;
    top: 38%;
    flex-wrap: wrap; */
    position: relative;
    left: 70%;
    
}

/* No lo pude terminar de posicionar */

main {
    display: flex;
}

a {
    text-decoration: none;
    color: aliceblue;
}

nav {
    width: 10rem;
    height: 25rem;
    top: 0px;
    position:sticky;
    align-items: center;
    font-size: large;
    background-color: black;
    border-radius: 0% 0px 60px 0%;
    

    
}



li {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

li::marker {
    display: none;
    color: black;
   
}

/* como le saco el color a los markers??  */

section {
    display: flex;
    flex-direction: column;
}

article {
    display: block;
    padding: 1rem;
}

table {
    display: flex;
    padding: 1rem;
}

form {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

fieldset {
    border-radius: 30px;
    padding: 1rem;
    margin: 1rem;
    min-width: 8rem;
    flex-grow: 2;

 }

legend {
    font-size: larger;
}

.none {
    display: none;
}

.moreInformation {
    padding-top: 1em
}



.tform {
    padding: 0.5rem;
}

#table {
    flex-direction: row;
}

#tabla {
    flex-direction: column;
    padding: 1rem;
}

#contact {
    display: inline-block;
    margin-top: 2rem;
}