@import url(https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap);


* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    scroll-behavior: smooth;
    max-width: 100%;

}

:root {
    font-family: 'Maven Pro', sans-serif;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    background-image: url(./design1_image1.jpg);
    background-size: cover;
    background-position: center;
    height: 36vh;
    
    
}

main {
    display: flex;
    min-height: 54vh;
    margin-bottom: 2rem;
    
}


footer {
    min-height: 10vh;
    background-color:black;
    text-align: center;
    color: aliceblue;
    padding: 1em;
    
}


/* h1 {
    padding-top: 0.4rem;
    padding-bottom: 8rem;
    font-size: 5rem;
    background-color: rgba(255, 255, 255, 0.529);
    flex-shrink: 5;
    
   
   
} */

h1 {
    display: none;
}




.tittleBar {
    text-align: center;
    color: white;
    background-color: black;
    padding: 0.5em;
}



#logo {
    width: 30vh;
    height: 30vh ;
    /* position: absolute; 
    right: 20%;
    top: 38%;
    flex-wrap: wrap; */
    /* position: absolute;
    right: 10em;
    bottom: 48%; */
    
    
}

/* No lo pude terminar de posicionar */



a {
    transition: all 0.5s ease;
    text-decoration: none;
    color: aliceblue;

}

a:hover {
    transition: all 0.5s ease;
    font-size: larger;
    color: yellow;
    /* transition: 0.5s ease-out; */
}

nav {
    transition: all 0.3s ease;
    width: 7.6rem;
    height: 25rem;
    top: 0px;
    position:sticky;
    align-items: center;
    font-size: large;
    background-color: black;
    border-radius: 0% 0px 60px 0%;
    display: flex;
    

    
}





li {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

li::marker {
    display: none;
    color: black;
   
}

/* como le saco el color a los markers??  */

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
}

article {
    display: block;
    padding: 1rem;
}


table {
    display: flex;
    padding: 1rem;
    align-self: center;
}



form {
    padding: 3rem;
    margin: 2rem;
    
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* align-items: c; */
    
}

fieldset {
    display: flex;
    border-radius: 30px;
    padding: 1rem;
    margin: 1rem;
    /* min-height: 20rem; */
    flex-direction: column;
    /* flex-grow: 2; */
    flex-shrink: 1;
    
   

 }

legend {
    font-size: larger;
    color: black;
}

input[type=text] {
    width: 100%;
    
    
}

input[type=number] {
    width: 90%;
    
}

input[type=submit] {
    transition: all 0.5s ease;
    background-color: black;
    width: 10rem;
    height: 5rem;
    color: aliceblue;
    font-size: larger;
    border-radius: 2rem;
    
}

input[type=submit]:hover {
    transition: all 0.5s ease;
    font-size: x-large;
    color: yellow;
}

span {
   font-weight: bolder;
}

.tittle {
    text-align: center;
}

.none {
    display: none;
}

.moreinfo>p {
  
    padding: 1rem;

}

.info {
    display: flex;
    /* align-self: flex-start; */
    padding: 0.5rem;
    justify-content: space-around;
    
    
}

/* .info>p {
    display: flex;
    
} */



.tform {
    padding: 0.5rem;
}

.mail {
    color:darkkhaki;
}

#table {
    flex-direction: row;
    max-width: 100%;

}

#tabla {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 100%;
}

#contact {
    display: inline-block;
    margin-top: 2rem;
}

#zip {
    transform: translate(23px);
}

#send {
    
    transform: translate(2rem, -2rem);
    border: none;
    align-self: self-end;
    
}

#contact {
    padding: 1rem;
    margin: 1rem;
    display:flex;
    align-self: flex-start;

}

@media screen and (max-width: 600px) {
    
    header {

        height: 100vh;
        width: 100vw;
        justify-content: space-between;
        overflow: hidden;
    }
    #logo {
        height: 35vh;
        width: 35vh;
        align-self: center;
        transform: translate(0rem, 25vh);
        max-width: 100%;
        
    }

    .tittleBar {
        width: 100%;
        
    }


    main {
        flex-direction: column;
        max-width: 100%;
    }

    nav {
 
        width: 100%;
        height: 13vh;
        position: sticky;
        top: 0rem;
        padding-bottom: 5vh;
        margin-bottom: 1vh;
        align-items: center;
        align-content: space-around;
        border-radius: 0% 0px 0px 0%;
        font-size: small;
        
    }

    li {
        float: left;
    }

   form {
    flex-direction: row;
    align-content: stretch;
    max-width: 100%;
    overflow: hidden;
    padding-left: 1rem;
    margin-left: 1rem;
   }
    
    fieldset {
        display: flex;
        border-radius: 30px;
        padding: 1.5rem;
        margin: 1rem;
        flex-direction: column;
        flex-shrink: none;
        min-width: 70vw;
        align-self: flex-start;

     }
     #tabla {
        
        padding: 0rem;
       
    }

    .info {
        flex-direction: column;
        justify-content: space-between;
        align-self: flex-start;
        
        
        
    }
}
